h1 {
  color: #ff0000;
  background-color: #cccccc;
  text-align: center;
}

div {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #ffffff;
  background-color: #dddddd;

}

.hidden{
  display: none;
}

.visible{
  display:block;
}
