<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Rules</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="rules">
    <h2>Rules</h2>
        The game of P, R, S is based on trust, skill and determination.
        Each player must:
        <ul>
          <li>Prepare, with their hand in a fist, to make their move</li>
          <li>Throw one of three options: rock (fist), paper (flat hand), scissors (two extended fingers)</li>
          <li>The winner is determined based on these guidelines: rock beats scissors, scissors beats paper, paper beats rock, and the same item is a tie</li>
        </ul>
        Official rules are on the <a href = "http://worldrps.com/"> World RPS Society</a> website.
      </div>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
