<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>


  <div id="feedback">
  </div>
  <div id="enter_name">
    <h2>User Details - <%=user.name%></h2>
    <form action="/user/<%user.name%>" method "post">
    <br>
    Name: <input type="text" name="username" value="<%=user.name%>"<br>
    Password: <input type="text" name="password" value="if(user.password){<%=user.password%>}"<br>
  </form>
    <button type="submit" id = "enter_name_button">Submit New User</button>
    <br>
  </div>
  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
