<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Index</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>


  <div id="feedback">
  </div>
  <div id="enter_name">
    <h2>Welcome to Paper, Rock, Scissors</h2>
    <form action="/login" method="get">
      Username:<input type="text" id="enter_name_input" name="player_name"><br>
      Password:<input type="text" id="enter_password_input" name="password"><br>
      <button type="submit" id = "enter_name_button">Submit Name</button>
    </form>
    <a href="/user/new">Create account</a>
  </div>
<% include global/footer %>
 </body>
</html>
