<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="/styles/style.css">
 </head>

<body>
  <% include global/header %>


  <div id="feedback">
  </div>
  <div id="enter_name">
    <h2>User Details - <%=user.name%></h2>
    <form action="/user" method= "post">
    <br>
    Name: <input type="text" name="name" value= "<%=user.name%>"<br>
    Password: <input type="text" name="password" value="<%=user.password%>"<br>
    <button type="submit" id = "new_user_button">Submit New User</button>
  </form>
    <br>
  </div>
<% include global/footer %>
 </body>
</html>
