<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - About</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="rules">
    <h2>About Paper, Rock, Scissors: Showdown</h2>
    This app is meant to demonstrate the basic concepts necessary to run an Express server.
    <br>
    <br>
    All villain images downloaded with permission from <a href="https://thenounproject.com/">the Noun Project.</a>
    <h2>Image Credits: </h2>
    <ul>
    <li>Bones: <a href="https://thenounproject.com/bartlaubsch/">Bart Laubsch</a> </li>
    <li>Comic Hans: <a href="https://thenounproject.com/josieschultzz/collection/things-i-drew/">Josie Schultzz</a></li>
    <li>Gato: <a href="https://thenounproject.com/strokeicon/collection/gesture/">Strokeicon</a></li>
    <li>Harry: <a href="https://thenounproject.com/danny_mustache/">Dan Lowenstein</a> </li>
    <li>Manny: <a href="https://thenounproject.com/AliceNoir/collection/manicure/">Alice Noir</a> </li>
    <li>Mickey: <a href="https://thenounproject.com/cristiano.zoucas/">Cristiano Zoucas</a>
    <li>Mr. Modern: <a href="https://thenounproject.com/swierq/">Maciej Świerczek</a></li>
    <li>Pixie: <a href="https://thenounproject.com/filippolessio/">Filippo Lessio</a> </li>
    <li>Ref: <a href="https://thenounproject.com/korawan_m/">BomSymbols</a></li>
    <li>Regal: <a href="https://thenounproject.com/lefthandedgraphic/collection/king-hand/">LeftHandedGraphic</a></li>
    <li>Spock: <a href="https://thenounproject.com/ARF!/collection/some-handsome-hands/">Rafaël Massé</a></li>
    <li>The Boss: <a href="https://thenounproject.com/daouna/">Daouna Jeong</a> </li>
    <li>The Magician: <a href="https://thenounproject.com/swierq/">Maciej Świerczek</a> </li>
    </ul>
  </div>
  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
