<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Rules</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="rules">
    <h2>Rules</h2>
    The game of P, R, S is based on trust, skill and determination.
    Each player must:
    <ul>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
    </ul>
  </div>
  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
